body {
    margin: 0px;
    font-family: 'Heebo', sans-serif; 
}

.container {
    width: 1440px;
    max-width: 90%;
    margin: auto;
}

header {
    height: 70px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1); 
}

header section.logo {
    font-size: 27px;
}

header section.logo span.blue-dot {
    width: 10px;
    height: 10px;
    background-color: #33C6DD;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
}

header nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; 
}

header nav ul li {
    display: inline-block;
    margin-left: 26px;
}

header nav ul li.menu-icon {
    display: none;
}

header nav ul li:first-of-type {
    margin-left:  0px;
}

header nav ul li a {
    color: #3E3E3E;
    text-decoration: none;
    font-size: 15px;
}

header nav ul li a:hover {
    color: #33C6DD;
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    display: flex;
}

section.hero {
    position: relative;
}

section.hero img {
    width: 100%;
    height: auto;
}

section.hero .hero-content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

section.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

section.hero h1, section.hero p{
    color: white;
    margin-top: 0px;
    margin-bottom: 20px;
    max-width: 495px;
}

section.hero h1 {
    font-weight: 400px;
    font-size: 50px;
    line-height: 56px;
}

section.hero p {
    font-weight: 300px;
    font-size: 20px;
    line-height: 28px;
}

section.hero button {
    width: 200px;
    height: 50px;
    background-color: #33C6DD;
    color: white;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #33c6DD;
    font-size: 16px;
    text-transform: uppercase;
}

section.hero button:hover {
    color: #33C6DD;
    background-color: #E0E0E0;
}


section.best-sellers {
    padding-top: 90px;
}

section.best-sellers h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
}

section.best-sellers hr {
    margin: auto;
    width: 60px;
    height: 6px;
    background-color: #33c6DD;
    border: none;
    margin-bottom: 76px;
}

    
section.best-sellers .product-slider {
    display: flex;
    justify-content: space-between;  
}

section.best-sellers .product-slider .product {
    border-radius: 8px;
    border: 1px solid #DDDDDD;
    margin: 0px 8px;
    text-align: center;
    padding: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    cursor: pointer;
    position: relative;
}

section.best-sellers .product-slider .container {
    max-width: 100%; 
    display: flex;
}

section.best-sellers .product-slider .container .product.new::before {
    content: "New";
    position: absolute;
    background-color: #614DC9;
    color: white;
    top: 12px;
    right: 12px;   
    padding: 5px 26px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border-radius: 16px;
   
}

section.best-sellers .product-slider .container .product img {
    max-width: 100%;  
}

section.best-sellers .product-slider .container .product .product-info {
    margin-top: 50px;  
}

section.best-sellers .product-slider .product h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #33c6DD;
    margin-top: 0px;
    margin-bottom: 10px;
}

section.best-sellers .product-slider .product h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-top: 0px;
    margin-bottom: 10px;
}

section.best-sellers .product-slider .product .price{   
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;

}

section.best-sellers .product-slider .product h3 .price {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

section.best-sellers .product-slider .product .price.discount h3 {
    color: #EC1C1C;
}

section.best-sellers .product-slider .product .price span.original-price {
    margin: 0px 10px;    
    font-size: 16px;
    line-height: 24px;
    text-decoration: line-through;
    color: #9B9B9B;
}

section.best-sellers .product-slider .product button {
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 25px;
    background-color: transparent;
    height: 25px;
    width: 220px;
    max-width: 100%;
    font-weight: 400px;
    line-height: 25px;
    font-size: 16px
}

section.best-sellers .product-slider .product:hover button {
    cursor: pointer;
    border: 1px solid #33C6DD;
    background-color: #33C6DD;
    color: white;
}

section.newsletter {
    background-color: #F5F5F5;
    margin: 80px auto;
    width: 950px;
    max-width: 100%;
    text-align: center;
    padding: 72px 0px;
}

section.newsletter h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    height: 42px;
    margin-top: 0px;
    margin-bottom: 10px;
}

section.newsletter p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    margin-bottom: 20px;
}

section.newsletter input[type=email] {
    height: 48px;
    width: 320px;
    border-radius: 25px 0px 0px 25px;
    padding: 0px;
    padding-left: 24px;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-right: none;
}

section.newsletter input[type=email]::placeholder {
    color: #3E3E3E;
    
}

section.newsletter button[type=submit] {
    background-color: #614DC9;
    border: 1px solid #614DC9;
    color: #FFFFFF;
    border-radius: 0px 25px 25px 0px;
    height: 48px;
    padding: 0px 36px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    cursor: pointer;
}

section.newsletter button[type=submit]:hover {
    background-color: white;
    border: 1px solid black;
    color: #614DC9;
}

footer {
    background-color: #3E3E3E;
    color: white;
    padding: 60px 0px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    width: 950px;
    max-width: 100%;
}

footer .container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 25%;
}

footer .container ul .list-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
}

footer .container ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
}

footer .container ul li a {
    color: white;
    text-decoration: none;
}

footer .container ul li a:hover {
    color: #33C6DD;
}

footer .container ul li:last-of-type {
   margin-bottom: 0px;
}

section.copyright {
    text-align: center;
    padding: 18px 0px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 400;
    color: #e0e0e0;
    background-color: #2B2B2B;
}

/** ##################### **/
/** styles for desktop **/
/** ##################### **/
@media screen and (max-width: 1440px){
    .container {
        width: 1180px;
        max-width: 90%; 
        
    }

    section.hero h1, section.hero p{
        margin-bottom: 12px;
    }

    section.hero h1 {
        font-size: 44px;
        line-height: 50px;
    }

    section.hero p {
        font-size: 18px;
        line-height: 26px;
    }

    section.hero button {
        font-size: 14px;
        line-height: 21px;
    }

    section.best-sellers .product-slider .product h5 {
        font-size: 12px;
        margin-bottom: 8px;
    }

    section.best-sellers .product-slider .product h4 {
        font-size: 16px;
        margin-bottom: 8px;
    }

    section.best-sellers .product-slider .product .price{   
        margin-bottom: 6px;
    }

    section.best-sellers .product-slider .product h3 .price {
        font-size: 24px;
        line-height: 30px;
    }

    section.best-sellers .product-slider .product .price span.original-price { 
        font-size: 14px;
        line-height: 21px;
    }

    section.best-sellers .product-slider .product button {
        height: 40px;
        width: 810px;
        line-height: 21px;
        font-size: 14px
    }
    
    section.newsletter {
        width: 880px;
        margin: 70px auto;
        padding: 50px 0px;
    }

    section.newsletter h3 {
        font-size: 22px;
    }

    section.newsletter p {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 15px;
    }

    section.newsletter input[type=email] {
        font-size: 12px;
        line-height: 18px;
    }

    section.newsletter button[type=submit] {
        font-size: 12px;
        line-height: 18px;
    }

    footer {
        padding: 60px 0px;
    }

    footer .container {

        width: 1180px;
        max-width: 90%;
    }

    footer .container ul .list-title {
        font-size: 16px;
        margin-bottom: 12px;
    }

    footer .container ul li {
        font-size: 14px;
        line-height: 21px;
    }

    section.copyright {
        padding: 18px;
        font-size: 14px;

    }

}

/** ##################### **/
/** styles for tablet **/
/** ##################### **/
@media screen and (max-width: 960px){
    .container {
        width: 92%;
        max-width: 92%;
    }

    header nav ul li {
        display: none;
    }

    header nav ul li.menu-icon {
        display: inline-block;
    }

    section.hero h1, section.hero p{
        margin-bottom: 12px;
    }

    section.hero h1 {
        font-size: 40px;
        line-height: 46px;
    }

    section.hero p {
        font-size: 16px;
        line-height: 24px;
    }

    section.hero button {                            
        font-size: 14px;                              
    }

    section.best-sellers h2 {
        margin-bottom: 12px;
        font-size: 28px;
        line-height: 38px;
    }

    section.best-sellers hr {
        width: 60px;
        height: 6px;
        margin-bottom: 48px;
    }

    section.best-sellers .product-slider .container .product.new::before {
        top: 6px;
        right: 6px;  
        font-size: 11px; 
        padding: 5px 14px;
    }

    section.best-sellers .product-slider .product h5 {
        font-size: 11px;
        margin-bottom: 5px;
    }

    section.best-sellers .product-slider .product h4 {
        font-size: 13px;
        margin-bottom: 6px;
    }

    section.best-sellers .product-slider .product h3 .price {
        font-size: 16px;
    }

    section.best-sellers .product-slider .product .price span.original-price { 
        font-size: 9px;
    }

    section.best-sellers .product-slider .product button {
        height: 36px;
        width: 146px;
        line-height: 18px;
        font-size: 12px
    }
    
    section.newsletter {
        width: 100%;
        margin: 48px auto;
    }

    footer .container {
        width: 92%;
        max-width: 92%;
    }
}



/** ##################### **/
/** styles for mobile devices **/
/** ##################### **/
@media screen and (max-width: 576px){
    .container {
        width: 92%;
        max-width: 92%;
    }

    header section.logo {
        font-size: 18px;
    }

    section.hero .hero-content {
        position: initial;
        text-align: center;
        margin-top: 26px;
    }

    section.hero .container {
        align-items: center;
    }

    section.hero h1, section.hero p{
        margin-bottom: 32px;
    }

    section.hero h1 {
        color: black;
        font-size: 32px;
        line-height: 38px;
    }

    section.hero p {
        display: none;
    }
    
    section.best-sellers .product-slider .product  {
        width: 100%;
        margin-bottom: 24px;
    }

section.best-sellers .product-slider .product :last-of-type {
        margin-bottom: 0px;
    }

    section.best-sellers .product-slider .container {
        flex-wrap: wrap;
    }

    section.best-sellers .product-slider .product h4 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    section.best-sellers .product-slider .product h3 .price {
        font-size: 24px;
    }

    section.best-sellers .product-slider .product .price span.original-price { 
        font-size: 11px;
    }

    section.best-sellers .product-slider .product button {
        height: 36px;
        width: 190px;
        max-width: 100%;
        line-height: 18px;
        font-size: 12px
    }
    
    section.newsletter {
        margin: 64px auto;
        padding: 44px 0px;
    }

    section.newsletter input[type=email] {
        width: 210px;
    }

    section.newsletter button[type=submit] {
        height: 48px;
        padding: 0px 20px;
    }

    footer {
        padding: 48px 0px;
    }

    footer .container {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }

    footer .container ul {
        width: 100%;
        margin-bottom: 32px;
        text-align: center;
    }

    footer .container ul :last-of-type {
        margin-bottom: 0px;
    }
}